<h1>Student:Emile Tebulo </h1>
<h2>courses learn so far</h2>
<p>here is  alist of all courses below:</p>
<br>

<ul>
  <li>visual basic</li>
  <li>python</li>
  <li>Machine Learning</li>
</ul>



<style>
  table, th, td {
    border: 2px solid blue;
    background-color: rgb(203, 218, 233)
  }
  </style>
<table>
  <tr>
    <th>Name of course</th>
    <th>course code </th>
  </tr>
  <tr>
    <td>visual basic</td>
    <td>vis101</td>
  </tr>
  <tr>
    <td>python</td>
    <td>py102</td>
  </tr>
  <tr>
    <td>Machine Learning</td>
    <td>MaL106</td>
  </tr>
</table>

<br>




